@import "tailwindcss";

@font-face {
    font-family: "Milton_One";
    src: url("/fonts/Milton_One.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Milton_One";
    src: url("/fonts/Milton_One_Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Theano_Didot";
    src: url("/fonts/Theano_Didot_Regular") format("tiff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@theme {
    --font-milton-one: "Milton_One";
    --font-theano-didot: "Theano_Didot";
    --color-background: #ffffff;
    --color-splitter: #000000;
    --color-text: #000000;
    --color-icon: #000000;
}
